@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a > * {
  transition: all .3s ease;
}
a:hover > * {
  color: #EEB609;
}

/* NextJs Responsive Image */

.image-container {
  position: relative;
}
.image-container > div {
  position: unset !important;
}
.image-container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
}

.banner {
  background-image: url("/banner-bg.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
