@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
a > * {
  transition: all 0.3s ease;
}
a:hover > * {
  color: #eeb609;
}

/* NextJs Responsive Image */

.image-container {
  position: relative;
}
.image-container > div {
  position: unset !important;
}
.image-container img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
}

.banner {
  background-image: url("/banner-bg.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.contactField label {
  width: 100%;
  background: #fff;
}

.thumbnailImage {
  position: absolute;
  right: -455px;
  top: 0;
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none;
}
.thumbnailImage img {
  object-fit: contain;
}
.selectorGrid .arrowIcon {
  transition: all 0.5s ease;
}
@media (min-width: 600px) {
  .selectorGrid .arrowIcon:hover {
    transform: rotate(45deg);
  }
  .selectorGrid .arrowIcon:hover ~ .thumbnailImage {
    opacity: 1;
  }

}

@media (max-width: 600px) {
  .roundedImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
  }
  /* .thumbnailImage , */
  .selectorGrid img.solutionIcon {
    display: none !important;
  }
  .thumbnailImage{
    position: relative;
    right: auto;
    opacity: 1;
    display: none;
  }
  .selectorGrid .list-pointer {
    display: none;
  }
  .selectorGrid.active .list-pointer , .selectorGrid.active .thumbnailImage{
    display: block;
  }
  .selectorGrid.active .list-pointer {
    display: block;
  }
  .selectorGrid .arrowIcon img{
    transition: all 0.5s ease;
    position: absolute;
    right: 0;
    top: 18px;
    width: 18px;
  }
  .selectorGrid.active .arrowIcon img{
    transform: rotate(45deg);
  }
}